@keyframes heartAnimation{
    0%{
        top: 0px;
    }
    100%{
        top: -300px;
        transform: rotate(-360deg);
        visibility: hidden;
    }
}
.chat-container{
    width: calc(60% - 20px);
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: 80vh;
    background: rgba(80,5,94,.6);
    margin-top: 1vh;
    border-radius: 10px;
    .chat-history{
        width: calc(100% - 10px);
        padding: 5px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        height: 80%;
        background: white;
        border-radius: 10px;
        margin-bottom: 1vh;
        overflow-y: scroll;
        background: rgba(255,255,255,.7);
        .not-result-div,.result-div{
            width: calc(90% - 20px);
            padding: 10px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            font-size: 1.2em;
            font-family: "Bebas Neue",sans-serif;
        }
        .result-div{
            font-family: "Oswald",sans-serif;
            .message-div{
                width: calc(60% - 20px);
                padding: 10px;
                display: block;
                border-radius: 10px;
                background: rgba(255,255,255,0.9);
                margin-bottom: 7px;
            }
            .your-div{
                margin-left: auto;
            }
            .heart-div{
                background: none;
                font-size: 1.4em;
            }
            .message-clickHeartContainer{
                position: relative;
                display: block;
                animation: heartAnimation 12s;
                animation-iteration-count: 1;
                animation-fill-mode: forwards;
                .times-label{
                    display: block;
                    margin-left: calc(50% - 22px);
                    margin-right: auto;
                    text-align: center;
                    margin-top: -80px;
                    position: relative;
                    width: 80px;
                    font-size: 1.9em;
                    color: white;
                }
                .times-label::selection{
                    background: none;
                    cursor: none;
                }
                .message-clickHeart{
                    width: 90px;
                    height: 90px;
                    position: relative;
                    text-align: center;
                    left: calc(50% - 30px);
                    transform: rotate(45deg);
                    background: red;
                    &::before,&::after{
                        position: absolute;
                        content: "";
                        width: 90px;
                        height: 90px;
                        background: red;
                        border-radius: 50%;
                        z-index: 1;
                    }
                    &::before{
                        left: -45px;
                    }
                    &::after{
                        top: -45px;
                        left: 0px;
                    }
                }
            }
            .message-catcher{
                position: relative;
                top: -100%;
                .dumpling-item{
                    width: 50px;
                    height: 50px;
                    font-size: 40px;
                    text-align: center;
                    position: relative;
                    top: -0vh;
                    left: -100%;
                    z-index: 5;
                }
            }
            
        }
    }
    .chat-form{
        width: calc(90% - 20px);
        padding: 10px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        .chat-form-input,.chat-form-submit{
            vertical-align: top;
            display: inline-block;
            margin: 0px 5px;
            font-size: 1.9em;
            font-family: "Bebas Neue",sans-serif;
            padding: 5px;
            border: none;
            background: rgba(255,255,255,.2);
        }
        .chat-form-input{
            width: calc(70% - 10px);
            border-radius: 10px;
            text-indent: 0.5em;
        }
        ::placeholder{
            color: rgba(255,255,255,.8);
        }
        .chat-form-submit{
            border-radius: 20px;
            width: calc(1.9em + 10px);
            transition: filter 0.4s;
            margin-bottom: 5px;
        }
        .chat-form-submit:hover{
            filter: brightness(150%);
        }
        .chat-form-submit:focus{
            outline: none;
        }
    }
}
@media screen and (max-width: 1054px){
    .chat-container{
        .chat-form{
            width: calc(100% - 20px);
        }
    }
}
@media screen and (max-width: 941px){
    .chat-container{
        .chat-form{
            .chat-form-input,.chat-form-submit{
                font-size: 1.5em;
            }
            .chat-form-submit{
                width: calc(1.5em + 10px);
            }
        }
    }
}
@media screen and (max-width: 802px){
    .chat-container{
        width: calc(80% - 20px);
        .chat-history{
            .not-result-div,.result-div{
                font-size: 1em;
                .message-div{
                    width: calc(80% - 20px);
                }
            }
        }
        .chat-form{
            .chat-form-input,.chat-form-submit{
                font-size: 1.2em;
            }
            .chat-form-input{
                width: calc(70% - 10px);
            }
            .chat-form-submit{
                font-size: 1.3em;
                width: calc(1.2em + 20px);
            }
        }
    }
}
@media screen and (max-width: 544px){
    .chat-container{
        .chat-form{
            .chat-form-submit{
                width: fit-content;
            }
        }
    }
}
@media screen and (max-width: 519px){
    .chat-container{
        width: calc(95% - 20px);
        .chat-form{
            width: calc(100% - 20px);
        }
    }
}
@media screen and (max-width: 417px){
    .chat-container{
        width: calc(100% - 20px);
        .chat-form{
            width: calc(100% - 20px);
            .chat-form-input,.chat-form-submit{
                font-size: 1.2em;
            }
            .chat-form-submit{
                width: calc(1.2em + 10px);
            }
        }
    }
}
@media screen and (max-width: 353px){
    .chat-container{
        width: calc(100% - 20px);
        height: 83vh;
        .chat-history{
            margin-bottom: 0;
            height: 70%;
            .not-result-div,.result-div{
                width: calc(100% - 10px);
                padding: 5px;
            }
        }
        .chat-form{
            width: calc(100% - 20px);
            .chat-form-input,.chat-form-submit{
                font-size: 1.2em;
            }
            .chat-form-input{
                width: calc(100% - 10px);
                margin-bottom: 5px;
            }
            .chat-form-submit{
                width: calc(70% - 10px);
                display: block;
                margin-left: auto;
                margin-right: auto;
                border-radius: 10px;

            }
        }
    }
}