.chat-container{
    .red{
        background: red !important;
    }
    .green{
        background: green !important;
    }
    .blue{
        background: blue !important;
    }
    .white{
        background: white !important;
    }
    .gray{
        background: gray !important;
    }
    .purple{
        background: purple !important;
    }
    .magenta{
        background: magenta !important;
    }
    .cyan{
        background: cyan !important;
    }
    .color-red{
        color: red !important;
    }
    .color-green{
        color: green !important;
    }
    .color-blue{
        color: blue !important;
    }
    .color-white{
        color: white !important;
    }
    .color-gray{
        color: gray !important;
    }
    .color-purple{
        color: purple !important;
    }
    .color-magenta{
        color: magenta !important;
    }
    .color-cyan{
        color: cyan !important;
    }

}