.data-form-wrapper{
    width: calc(60% - 20px);
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 10px;
    background: rgba(255,255,255,.8);
    height: 68vh;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    .data-formInput,.data-formNumberInput{
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
        font-family: "Bebas Neue",sans-serif;
        border: none;
        border-radius: 10px;
        margin-bottom: 8px;
    }
    .data-formInput{
        width: calc(70% - 20px);
        text-indent: 0.4em;
        font-size: 1.4em;
    }
    .data-formNumberInput{
        width: calc(30% - 20px);
        font-size: 1.3em;
        text-indent: 0.5em;
        margin: 8px auto;
    }
    .data-formTextarea{
        min-height: 20vh;
        max-height: 30vh;
        font-family: "Oswald",sans-serif;
    }
    .counter-wrapper{
        display: block;
        margin-left: auto;
        margin-right: calc(15% + 20px);
        padding: 5px 10px;
        border-radius: 5px;
        width: fit-content;
        font-family: "Bebas Neue",sans-serif;
        font-size: 1.3em;
        background: rgba(255,255,255,.9);
        margin-bottom: 1vh;
    }
    .data-formFileInput{
        width: 0;
        height: 0;
        opacity: 0;
    }
    .pick-up-a-photo,.openPasswdChange{
        padding: 10px 20px;
        border-radius: 10px;
        text-align: center;
        font-size: 1.4em;
        font-family: "Bebas Neue",sans-serif;
        background: rgba(223,71,35,.4);
        cursor: pointer;
    }
    .openPasswdChange{
        background: rgba(255,255,255,.9);
        margin: 5px 0px;
        transition: filter 0.4s;
    }
    .openPasswdChange:hover{
        filter: brightness(70%);
    }
    .passwds-container{
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 5px;
        width: calc(90% - 10px);
        
    }
    .hidden{
        display: none;
    }
    .sex-section,.pierogi-section{
        width: calc(80% - 20px);
        padding: 10px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        font-family: "Bebas Neue",sans-serif;
        margin-bottom: 5vh;
        .sex-section-header,.pierogi-section-header{
            width: calc(90% - 5px);
            padding: 10px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            font-size: 1.8em;
            margin-bottom: 1vh;
        }
        .sex-label{
            font-size: 1.3em;
            margin-right: 0.2em;
        }
        #woman-checkbox{
            margin-right: 1.2em;
        }
        .pierogi-buttons{
            margin-bottom: 10px;
            .pierogi-classic-btn{
                width: calc(30% - 20px);
                padding: 10px;
                display: inline-block;
                margin: 5px;
                border-radius: 10px;
                background: rgba(223,71,35,.4);
                font-size: 1.2em;
                transition: filter 0.4s;
            }
            .pierogi-classic-btn:hover{
                filter: brightness(20%);
            }
            .chosen{
                filter: brightness(20%);
            }
        }
        .pierogiStandard{
            display: none;
        }
    }
}
@media screen and (max-width: 1293px){
    .data-form-wrapper{
        .pierogi-section{
            width: calc(95% - 20px);
        }
    }
}
@media screen and (max-width: 1087px){
    .data-form-wrapper{
        .pierogi-section{
            .pierogi-buttons{
                .pierogi-classic-btn{
                    font-size: 0.9em;
                }
            }
        }
    }
}
@media screen and (max-width: 1087px){
    .data-form-wrapper{
        .pierogi-section{
            .pierogi-buttons{
                .pierogi-classic-btn{
                    width: calc(50% - 20px);
                    font-size: 1.02em;
                }
            }
        }
    }
}
@media screen and (max-width: 858px){
    .data-form-wrapper{
        width: calc(80% - 20px);
        .data-formInput{
            width: calc(80% - 20px);
        }
        .counter-wrapper{
            margin-right: calc(20% - 10px);
            font-size: 1.1em;
            padding: 0px 5px;
        }
    }
}
@media screen and (max-width: 681px){
    .data-form-wrapper{
        .data-formNumberInput{
            width: calc(45% - 20px);
        }
        .pierogi-section{
            width: calc(100% - 10px);
            padding: 5px;
            .pierogi-buttons{
                .pierogi-classic-btn{
                    width: calc(100% - 20px);
                    font-size: 0.9em;
                }
            }
        }
    }
}
@media screen and (max-width: 430px){
    .data-form-wrapper{
        width: calc(95% - 20px);
        .data-formInput{
            width: calc(95% - 20px);
        }
        .counter-wrapper{
            margin-right: calc(10% - 10px);
        }
        .pierogi-section{
            .pierogi-section-header{
                font-size: 1.5em;
            }
        }
    }
}