@keyframes blinking{
    33%{
        opacity: 0;
    }
    66%{
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}
.user-picker-container{
    width: calc(70% - 20px);
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 80vh;
    margin-top: 5px;
    border-radius: 10px;
    .loading-div,.no-users{
        background: rgba(255,255,255,.4);
        border-radius: 10px;
        font-family: "Bebas Neue",sans-serif;
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .loading-div{
        width: calc(40% - 20px);
        padding: 10px;
        font-size: 1.9em;
        .loading-div-dots{
            opacity: 1;
            animation-name: blinking;
            animation-iteration-count: infinite;
            animation-duration: 1.2s;
        }
        .dot-2{
            animation-delay: 0.4s;
        }
        .dot-3{
            animation-delay: 0.8s;
        }
    }
    .no-users{
        width: calc(100% - 20px);
        padding: 20px 10px;
        font-size: 2.2em;
    }
    .photo-section,.info-section{
        display: inline-block;
        height: 100%;
        vertical-align: top;
    }
    .photo-section{
        width: 60%;
        border-radius: 10px 0px 0px 10px;
        background-size: cover !important;
        background-position: center !important;
        .decision-panel{
            width: calc(90% - 20px);
            padding: 10px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            margin-top: 56vh;
            .panel-btn{
                width: 50px;
                height: 50px;
                margin: 0px 10px;
                border-radius: 50%;
                cursor: pointer;
                transition: all 0.4s;
                background: rgba(255,255,255,.4);
            }
            .panel-btn:hover{
                transform: rotate(180deg);
            }
            .panel-btn:focus{
                outline: none;
            }
        }
    }
    .info-section{
        width: 40%;
        background: rgba(255,255,255,.8);
        font-family: "Bebas Neue",sans-serif;
        text-align: center;
        border-radius: 0px 10px 10px 0px;
        .name-and-age{
            width: calc(95% - 10px);
            padding: 5px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            font-size: 2.7em;
            margin-bottom: 7vh;
        }
        .pierogi-section{
            width: calc(100% - 20px);
            padding: 10px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            .fav-pierogi-elem{
                width: calc(50% - 20px);
                padding: 5px 10px;
                border-radius: 1.2em;
                font-size: 1.4em;
                background: $pierogi-background;
                display: inline-block;
                margin: 5px;
                border: 1px solid black;
            }
            .wider-elem{
                width: calc(80% - 20px);
            }
            .error-elem{
                width: calc(100% - 20px);
                font-size: 1.4em;
            }
            .fav-pierogi-extended{
                width: calc(90% - 20px);
                padding: 10px;
                display: block;
                margin-left: auto;
                margin-right: auto;
                text-align: center;
                font-size: 1.3em;
                font-family: "Bebas Neue",sans-serif;
                border-bottom: 1px solid black;
                margin-top: 2vh;
            }
        }
    }
    .matched-couple{
        width: 100%;
        height: 100%;
        display: none;
        background: $rouge-background;
        text-align: center;
        .matched-couple-header{
            width: calc(90% - 20px);
            padding: 10px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            font-size: 2.9em;
            font-family: "Bebas Neue",sans-serif;
        }
        .matched-info{
            width: calc(80% - 20px);
            padding: 10px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            font-size: 1.8em;
            letter-spacing: 0.04em;
            margin-bottom: 20vh;
        }
        .buttons-container{
            width: calc(90% - 10px);
            padding: 5px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            .matched-section-btn{
                padding: 10px 20px;
                margin: 0px 5px;
                border-radius: 10px;
                border: none;
                background: rgba(255,255,255,.4);
                font-size: 1.4em;
                font-family: "Bebas Neue",sans-serif;
                cursor: pointer;
                transition: filter 0.4s;
            }
            .matched-section-btn:hover{
                filter: brightness(70%);
            }
        }
    }
}
@media screen and (max-width: 1541px){
    .user-picker-container{
        .info-section{
            .pierogi-section{
                .fav-pierogi-elem{
                    font-size: 1.1em;
                }
            }
        }
    }
}
@media screen and (max-width: 1280px){
    .user-picker-container{
        width: calc(90% - 20px);
        .no-users{
            width: calc(100% - 20px);
            font-size: 2.1em;
        }
    }
}
@media screen and (max-width: 1000px){
    .user-picker-container{
        width: calc(95% - 20px);
        .info-section{
            .name-and-age{
                font-size: 2.1em;
                margin-bottom: 4vh;
            }
            .pierogi-section{
                .fav-pierogi-elem{
                    display: block;
                    width: calc(90% - 20px);
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }
}
@media screen and (max-width: 903px){
    .user-picker-container{
        .no-users{
            width: calc(70% - 20px);
            font-size: 2.1em;
        }
    }
}
@media screen and (max-width: 647px){
    .user-picker-container{
        height: 90vh;
        .no-users{
            width: calc(90% - 20px);
            font-size: 1.9em;
        }
        .photo-section,.info-section{
            width: 100%;
            border-radius: 10px;
        }
        .photo-section{
            .decision-panel{
                margin-top: 2vh;
            }
        }
        .info-section{
            height: 39vh;
            position: relative;
            top: -39vh;
            border-radius: 0px 0px 10px 10px;
            .name-and-age{
                margin-bottom: 2vh;
            }
            .pierogi-section{
                .fav-pierogi-elem{
                    display: inline-block;
                    width: calc(50% - 20px);
                    margin-left: 5px;
                    margin-right: 5px;
                }
            }
        }
    }
}
@media screen and (max-width: 592px){
    .user-picker-container{
        .matched-couple{
            .matched-couple-header{
                font-size: 2.4em;
            }
            .matched-info{
                font-size: 1.4em;
            }
        }
    }
}
@media screen and (max-width: 411px){
    .user-picker-container{
        width: calc(100% - 20px);
        .no-users{
            width: calc(100% - 20px);
            font-size: 1.5em;
        }
        .info-section{
            .pierogi-section{
                .fav-pierogi-elem{
                    font-size: 0.9em;
                }
            }
        }
    }
}
@media screen and (max-width: 350px){
    .user-picker-container{
        .info-section{
            .pierogi-section{
                .fav-pierogi-elem{
                    font-size: 0.7em;
                }
            }
        }
    }
}