.new-user-welcome-header{
    width: calc(90% - 20px);
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 2.1em;
    margin-bottom: 20px;
    font-family: "Bebas Neue",sans-serif;
    letter-spacing: 0.04em;
    background: $rouge-background;
}
@media screen and (max-width: 858px){
    .new-user-welcome-header{
        font-size: 1.8em;
    }
}
@media screen and (max-width: 681px){
    .new-user-welcome-header{
        font-size: 1.5em;
    }
}