.pierogi-background-and-describe{
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: calc(100vh - 40px);
    padding-top: 40px;
    position: relative;
    top: 0px;
    background-size: cover;
    .short-describe{
        width: calc(80% - 20px);
        padding: 10px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-size: 3.9em;
        font-family: "Bebas Neue",sans-serif;
        transform: rotate(-5deg);
        color: white;
        text-shadow: 1px 1px #111;
        margin-bottom: 140px;
    }
    .welcome-register-button{
        padding: 10px 20px;
        font-size: 1.4em;
        border: none;
        border-radius: 10px;
        font-family: "Bebas Neue",sans-serif;
        display: block;
        margin-left: auto;
        margin-right: auto;
        cursor: pointer;
        transition: background 0.4s;
        background: rgb(253,41,123);
    }
    .welcome-register-button:hover{
        background: rgba(255,255,255,.2);
    }
}
@media screen and (max-width: 979px){
    .pierogi-background-and-describe{
        .short-describe{
            font-size: 3.1em;
        }
    }
}
@media screen and (max-width: 749px){
    .pierogi-background-and-describe{
        .short-describe{
            font-size: 2.5em;
        }
    }
}
@media screen and (max-width: 749px){
    .pierogi-background-and-describe{
        .short-describe{
            font-size: 2.4em;
            margin-bottom: 90px;
        }
    }
}
@media screen and (max-width: 414px){
    .pierogi-background-and-describe{
        .short-describe{
            font-size: 2.1em;
            margin-bottom: 90px;
        }
    }
}